{
  "openapi": "3.0.0",
  "info": {
    "title": "Lex API",
    "description": "Open UK legal research API for AI agents and researchers. Access comprehensive UK legislation and caselaw data. Built by the Incubator for AI to harness AI for public good.",
    "version": "1.0.0",
    "contact": {
      "name": "Incubator for AI",
      "url": "https://github.com/i-dot-ai/lex",
      "email": "lex@cabinetoffice.gov.uk"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-logo": {
      "url": "https://ai.gov.uk/img/project-logos/logo-lex.png",
      "altText": "Lex API Logo"
    }
  },
  "servers": [
    {
      "url": "https://lex-research-prod-apim.azure-api.net",
      "description": "Production API"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "API Health Check",
        "description": "Simple health check endpoint",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Hello": {
                      "type": "string",
                      "example": "World"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/healthcheck": {
      "get": {
        "summary": "Detailed Health Check",
        "description": "Comprehensive health check including database connectivity",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "database": {
                      "type": "string",
                      "example": "qdrant"
                    },
                    "collections": {
                      "type": "integer",
                      "example": 3
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/legislation/search": {
      "post": {
        "summary": "Search UK Legislation",
        "description": "Search through UK legislation by title, description, and content",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query",
                    "example": "data protection"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of results to return",
                    "default": 10,
                    "maximum": 100
                  },
                  "year_from": {
                    "type": "integer",
                    "description": "Filter by year from",
                    "example": 2000
                  },
                  "year_to": {
                    "type": "integer",
                    "description": "Filter by year to",
                    "example": 2024
                  },
                  "legislation_type": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter by legislation types",
                    "example": ["ukpga", "uksi"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "string"},
                          "title": {"type": "string"},
                          "type": {"type": "string"},
                          "year": {"type": "integer"},
                          "number": {"type": "integer"},
                          "description": {"type": "string"},
                          "status": {"type": "string"},
                          "uri": {"type": "string"}
                        }
                      }
                    },
                    "total": {"type": "integer"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/legislation/section/search": {
      "post": {
        "summary": "Search Legislation Sections",
        "description": "Search within specific sections of legislation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query for sections",
                    "example": "processing personal data"
                  },
                  "size": {
                    "type": "integer",
                    "description": "Number of results",
                    "default": 10,
                    "maximum": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Section search results"
          }
        }
      }
    },
    "/caselaw/search": {
      "post": {
        "summary": "Search UK Caselaw",
        "description": "Search through UK court cases and judgments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query",
                    "example": "breach of contract"
                  },
                  "size": {
                    "type": "integer",
                    "description": "Number of results",
                    "default": 10,
                    "maximum": 100
                  },
                  "court": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter by court types",
                    "example": ["uksc", "ewca"]
                  },
                  "year_from": {
                    "type": "integer",
                    "example": 2010
                  },
                  "year_to": {
                    "type": "integer",
                    "example": 2024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Caselaw search results"
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "X-Rate-Limit-Hour": {
        "description": "Requests per hour limit",
        "schema": {
          "type": "integer"
        }
      },
      "X-Rate-Limit-Day": {
        "description": "Requests per day limit",
        "schema": {
          "type": "integer"
        }
      },
      "X-Rate-Limit-Remaining-Hour": {
        "description": "Remaining requests this hour",
        "schema": {
          "type": "integer"
        }
      }
    }
  },
  "x-ms-paths": {
    "/mcp": {
      "description": "Model Context Protocol endpoint for AI agents like Claude, GitHub Copilot, etc."
    }
  }
}